body {
  background-color: #f5e7da;
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;


}
body h1 {
  font-size: 19px;
  color: black;
}
body #logo {
  width: 150px;
}
body #search-btn {
  background-color: #fdac1f;
  color: white;
}
body #search-btn:hover {
  background-color: #de4827;
  color: white;
}
body .items .item {
  cursor: pointer;
  width: calc(25% - 10px);
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 1024px) {
  body .items .item {
    width: calc(33.33% - 10px);
  }
}
@media only screen and (max-width: 768px) {
  body .items .item {
    width: calc(50% - 10px);
  }
}
body .items .item .img-container {
  overflow: hidden;
}
body .items .item .img-container img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
body .items .item .img-container img:hover {
  transform: scale(1.2);
}
body .items .item .description {
  background: white;
  padding: 10px;
  height: 207px;
}
body .items .item .category {
  display: inline-block;
  text-transform: uppercase;
  color: white;
  background: #de4827;
  border-radius: 3px;
  font-size: 11px;
  overflow: hidden;
  padding: 2px 6px;
  text-align: center;
  font-weight: 500;
}
body .items .item .read-more {
  padding: 2px 6px;
  background-color: #fdac1f;
  color: white;
}
body .items .item .read-more:hover {
  background-color: #de4827;
}
body .items .item .origin {
  font-style: italic;
}
body .items .item .title {
  font-weight: 500;
  font-size: 22px;
}
@media only screen and (max-width: 768px) {
  body .items .item .title {
    font-size: 18px;
    line-height: 20px;
  }
}
body .hidden-link {
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
}
